.demo-bookmarks {
  background-color: #fff;
  border: 1px solid #000;
}

.demo-bookmarks__header {
  padding: 0 10px;
}

.demo-bookmarks__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-bookmarks__item {
  padding: 5px 10px;
  border-top: 1px solid #000;
  cursor: pointer;
}

.demo-bookmarks__item:first-child {
  border-top: none;
}

